body {
  width: 50vw;
  margin: 0 auto;
  background-color: #000;
}

.result {
  height: 30vh;
  widht: 100%;
  color: white;
  font-size: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 0 0.8rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-rows: repeat(5, 1fr);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  height: 5rem;
  widht: 5rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #444444;
}

.ext_btn {
  background-color: #a6a6a6;
}
.ext_btn:hover {
  background-color: #b7b7b7;
}
.op_btn {
  background-color: #ff9f0a;
}
.op_btn:hover {
  background-color: #fbaf3f;
}

.times {
  grid-column: 4 / 4;
  grid-row: 1;
}
.between {
  grid-column: 4 / 4;
  grid-row: 2;
}
.minus {
  grid-column: 4 / 4;
  grid-row: 3;
}
.plus {
  grid-column: 4 / 4;
  grid-row: 4;
}
.equal {
  grid-column: 4 / 4;
  grid-row: 5;
}

.cero {
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    padding: 1rem;
  }
}
